.board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  width: $size-board;

  &.is-won {
    button.square {
      background-color: $color-square-won;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__info {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
  }
}
