html {
  // Using this strange value to use REMS as Pixel Values e.g. 16rem * 0,625 = 10 --> 1.6rem = 16px
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}


button.reset {
  background-color: $color-button;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2.15rem 2rem 2rem;
  display: block;

  &:hover {
    background-color: darken($color-button, 10%);
  }
}
