$color-background: rgb(236, 236, 238);
$color-light: rgb(248,248,248);
$color-square: rgb(236, 236, 238);
$color-square-active: rgb(131, 129, 179);
$color-square-won: rgb(137,216,226);
$color-border: rgb(204, 204, 207);
$color-button: rgb(80,164,145);

$size-board: 300px;
